I am testing this jinja template file for user {{ user_name }}

My hostname is {{ inventory_hostname }} 
Kernel = {{ ansible_kernel }}
Host IP = {{ ansible_all_ipv4_addresses }}
ansible_bios_version = {{ ansible_bios_version }}
ansible_date_time = {{ ansible_date_time.date }}
ansible_distribution = {{ ansible_distribution }}
ansible_fqdn = {{ ansible_fqdn }}
ansible_inventory_sources = {{ ansible_inventory_sources }}
